.barra {
  background-color: #8CA8C2;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1000;
}

.barra.superior {
  top: 0;
}

.barra.inferior {
  bottom: 0;
}

.botaoMenu {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 24px;
  padding: 0;
}

.ponto {
  display: block;
  line-height: 0.4;
  caret-color: transparent;
  font-size: 24px;
  margin-bottom: 3px;
  transform: translateX(20px);
}

.cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #8CA8C2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.tituloCabecalho {
  font-size: 34px;
  font-weight: bold;
  color: black;
  margin-left: 1560px;
}

.logo {
  width: 126.5px;
  height: auto;
  z-index: 1001;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: calc(100vh - 160px);
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  overflow: hidden;
}

.secaoFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartao {
  background-color: #f5f5f5;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 1500px;
  text-align: center;
  margin-bottom: 30px;
}

.titulo {
  font-size: 38px;
  margin-bottom: 20px;
}

.textoBoasVindas {
  font-size: 20px;
  margin-bottom: 40px;
}

.secao {
  text-align: left;
  margin-bottom: 40px;
}

.tituloSecao {
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
}

.linha {
  display: inline-block;
  width: calc(100% - 180px);
  height: 2px;
  background-color: #ccc;
  margin-left: 10px;
}

.linhaBotoes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.botaoInteresse {
  background-color: #8CA8C2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.botaoInteresse:hover {
  background-color: #5a6d80;
}
