/* Barra superior e inferior */
.bar {
  background-color: #8CA8C2;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1000;
}

.bar.top {
  top: 0;
}

.bar.bottom {
  bottom: 0;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 24px;
  padding: 0;
}

.menu {
  position: relative;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1001;
}

.dot {
  display: block;
  line-height: 0.4;
  caret-color: transparent;
  font-size: 24px;
  margin-bottom: 3px;
  transform: translateX(20px);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #8CA8C2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.headerTitle {
  font-size: 34px;
  font-weight: bold;
  color: black;
  margin-left: 1560px;
}

.logo {
  width: 126.5px;
  height: auto;
  z-index: 1001;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: calc(100vh - 160px);
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  overflow: hidden;
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  max-width: 100%;
}

.image {
  width: 100%;
  max-width: 1050px;
  height: 480px;
  border-radius: 8px;
  object-fit: cover;
  transform: translateX(-120px);
}

.formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Formulario Login */
.card {
  background-color: #f5f5f5;
  padding: 95px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 420px;
  text-align: center;
  margin-bottom: 30px;
  transform: translateX(-195px);
}

.title {
  font-size: 38px;
  position: relative;
  top: -45px;
}

.input {
  width: 100%;
  padding: 13.5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  top: 11px;
  caret-color: auto;
}

.passwordContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.togglePassword {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #007BFF;
}

.togglePassword:hover {
  text-decoration: underline;
}

.button {
  width: 100%;
  padding: 13.5px;
  background-color: #1F577C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
  top: 25px;
}

.button:hover {
  background-color: #5a6d80;
}

.separator {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0;
  position: relative;
  top: 35px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.orText {
  margin: 0 10px;
  color: #666;
}

.forgotPassword {
  color: #8CA8C2;
  text-decoration: none;
  margin-top: 10px;
  font-size: 17px;
  position: relative;
  top: 50px;
}

.forgotPassword:hover {
  text-decoration: underline;
}

/* Cadastre-se em baixo do login*/
.register {
  background-color: #f5f5f5;
  padding: 21px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 420px;
  text-align: center;
  transform: translateX(-195px);
}

.registerText {
  color: #666;
}

.registerLink {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1rem;
  outline: none;
}

.registerLink:focus {
  outline: none;
}


.registerLink:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container, .imageSection, .formSection, .card, .register {
  caret-color: transparent;
}
